@import "@/styles/variables/fonts.scss";

.button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  border: none;

  @include f--b1-regular;

  &[disabled] {
    background-color: #cccccc;
    color: #666666;
  }
}

.button--primary {
  background-color: var(--blue-main);
}

.button--secondary {
  background-color: var(--grey-main);
}
