@import "@/styles/variables/fonts.scss";

.text {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;

  &__bold {
    color: var(--color-bold-text);

    @include f--b1-bold;
  }

  &__thin {
    color: var(--color-thin-text);

    @include f--b1-light;
  }
}
