@import  "@/styles/variables/fonts.scss";

.emailForm {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-end;
}

.emailInput {
    margin-bottom: 16px;
}

.emailForm button {
    margin-top: 64px;
}

.emailForm .forgotPassword {
    margin-top: 8px;
    text-decoration: none;

    color: var(--color-blue-text);
    @include f--b1-regular;
} 
