@import "@/styles/variables/fonts.scss";
@import "@/styles/variables/breakpoints.scss";

.password-validator {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .rule {
    color: var(--color-thin-text);

    @include f--b1-light;

    &--error {
      color: var(--red-main);
    }

    &--success {
      color: var(--success-main);
    }
  }
}
