@import  "@/styles/variables/fonts.scss";
@import  "@/styles/variables/breakpoints.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
 
    @media (min-width: $bpDtMin) {
        margin: 0 64px;
    }
    .title{
        color: var(--color-bold-text);
        @include f--b1-bold;
    }

    .subtitle{
        color: var(--color-thin-text);
        @include f--b1-regular;
    }
}