.logo {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.logoTitle {
    position: absolute;
    left: 120px;
}

.titleBold {
    color:#393E46;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 17px;
}

.titleThin {
    color:#75787E;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
}