.boldText {
    font-family: 'Montserrat';
    color: var(--color-bold-text);
    font-weight: 600;
    font-size: 16px;
}

.thinText {
    font-family: 'Montserrat';
    color: var(--color-thin-text);
    font-weight: 300;
    font-size: 16px;
}

.forgotPassword {
    font-family: 'Montserrat';
    color: var(--color-blue-text);
    text-decoration: none;
} 

/* // todo cambiar estas clases */