.retrievePassword {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    width: calc(100% - 108px);
    max-width: 1332px;
    background-color: #FFF;
    border-radius: 32px;
    box-shadow: 0px 20px 25px -5px rgba(15, 23, 42, 0.10), 0px 10px 10px 0px rgba(15, 23, 42, 0.05);
    padding: 64px 0;
    
    .logoStepts {
        background-color: red;
    }

    .form {
        background-color: yellow;
    }

    .image {
        background-color: green;
    }
}



