@import  "@/styles/variables/fonts.scss";
@import  "@/styles/variables/breakpoints.scss";

.container {
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 16px;
    min-width: 288px;

    @media (min-width: $bpSmMin) {
        gap: 16px;
    }
}

.container--warning {
    background-color: var(--alert-warning);
}

.container--danger {
    background-color: var(--alert-danger);
}

.container__icon {
    width: 32px;
    height: 32px;
    min-width: 32px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__icon--danger {
  background-color: var(--icon-danger);
}

.container__icon--warning {
    background-color: var(--icon-warging);
}

.container__content__title {
    @include f--b2-bold;
}

.container__content__description {
    color: var(--color-thin-text);

    @include f--b2-regular;
}

.container__close {
    min-width: 24px;
}