$bpSxsMin: 0;
$bpSsMin: 340;
$bpSmMin: 480;
$bpMdMin: 750;
$bpDtMin: 1024;
$bpDtLMin: 1440;
$bpDtXLMin: 1920;

$bpSxsMax: 339;
$bpSsMax: 479;
$bpSmMax: 749;
$bpMdMax: 1023;
$bpDtMax: 1439;
$bpDtLMax: 1919;
