.container {
  .steps {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }
  .image {
    position: relative;
    min-height: 304px;
    margin-bottom: 32px;
  }
}
