@import "@/styles/variables/fonts.scss";
@import "@/styles/variables/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: calc( 100% - 32px);

  .title {
    color: var(--color-bold-text);
    @include f--b1-bold;
  }

  .subtitle {
    color: var(--color-thin-text);
    @include f--b1-regular;
  }
  
  .chart{
    height: 320px;
    width: 320px;
 
    transform: translate(32px);

    margin-bottom: 16px;

    @media (min-width: $bpMdMin) {
      min-height: 350px;
      height: auto;
      width: auto;
      transform: none;
    }
  }

  .Link {
    margin-top: 8px;
    text-decoration: none;

    color: var(--color-blue-text);
    @include f--b1-regular;
  }
}