@import  "@/styles/variables/fonts.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
 
}

.container img {
    z-index: 1;
    width: 100%;
    height: auto;
    padding: 16px;
}

.container p {
    width: 80%;
    z-index: 1;
    text-align: center;
    color: var(--grey-main);

    @include f--b1-regular;
}

.container button {
    width: 80%;
    z-index: 1;
    margin-top: 16px;;
}