@import  "@/styles/variables/fonts.scss";
@import  "@/styles/variables/breakpoints.scss";

.container {
    min-width: 300px;
    max-width: 464px;
    margin-top: 16px;
    
    .title{
        color: var(--color-bold-text);
        @include f--b1-bold;
    }

    .subtitle{
        color: var(--color-thin-text);
        @include f--b1-regular;
    }
}