.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-end;
}

.form_email {
    margin-bottom: 16px;
}
.form a {
    margin-top: 8px;
}

.form button {
    margin-top: 64px;
}